.home-hero-section {
  background-image: url(./assets/Home\ cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-section {
  background-image: url("./assets/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-third-sec {
  background-image: url("./assets/what_we_do_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
